<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ContratacionesServlet</servlet-name>
        <servlet-class>sv.edu.udb.www.sistema_para_rrhh.controlador.ContratacionesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContratacionesServlet</servlet-name>
        <url-pattern>/ContratacionesServlet</url-pattern>
    </servlet-mapping>

    <!-- Aquí lo hacemos el inicio -->
    <welcome-file-list>
        <welcome-file>ContratacionesServlet</welcome-file>
    </welcome-file-list>
</web-app>